

body
{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: linear-gradient(to bottom, rgba(0,0,0,.7), rgba(0,0,0,.8)), url("imagens/clientes.png") center;
	font-family: sans-serif;	
}


section
{
	margin: 50px auto;
	width: 1025px;
	height: 200px;
}
section h2
{
	font-size: 30px;
	color: white;
}

section p 
{
	font-size: 19px;
	color: white;
	margin-left: 235px;
}
.bt
{
	width: 120px;
	height: 120px;
	float: left;
	margin-left: 250px;
	transition: all 0.4s ease-out;
	border-radius: 30%;
}

	
.icone
{
	margin: 0px auto;
	padding: 18.5px;
	width: 80px;
}

